{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h3 class="text-center">
            <b>Your Affiliate account has been created</b>
        </h3>
        <p>Thank you! Your affiliate token will be sent to your email as soon as your account is activated</p>
    </div>


{% endblock %}